@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500&display=swap');


body{ 
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    color: #c9d1d9;
    font-family: 'JetBrains Mono', monospace;
}
a{
    text-decoration: none;
}

/*---------------Versión Móvil--------------*/


    /*INICIA MENU*/

nav{
    display: flex;
    justify-content: left;
}
nav .logo{
    font-family: 'Pacifico', cursive;
    color: #8b949B;
    font-size: 2em;
    margin-top: 0.7em;
    margin-left: 0.7em;
    width: 20%;
}
.menu{
    display: flex;
    justify-content: right;
    width: 80%;
    margin-top: 1em;
}
.menu ul{
    list-style: none; 
    margin-right: 1.3em;
}
.menu li {
    display: inline;
    font-size: 1.3em;
    margin: 0.2em;
    font-weight: 300;
}
li a{
    color: #8b949B;
}
    /*TERMINA MENU*/

    /*INICIA CONTAINER-ABOUT*/

.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
   
}
.name{
    font-weight: 500;
    
}
.name .pues{
    color: #58a6ff;
    margin-top: -1em;
}
.image-header img{
    width: 350px;
    height: 235px;
    margin-top: 4em;
}
    /*TERMINA CONTAINER-ABOUT*/

    /*INICIA CONTAINER-PROYECTOS*/
.container-proyectos{
    margin-bottom: 8em;
}
.container-proyectos h2{
    text-align: center;    
}
.pinned{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proyecto{
    width: 20em;
    height: 12em;
    border: solid rgb(56, 56, 56) 1px;
    padding: 1em;
    margin: 1em 0 1em 0;
}
.proyecto .titulo-proyecto{
    font-weight: 500;
    font-size: 1em;
    color: #58a6ff;
}
.proyecto .descripcion{
    font-weight: 200;
    font-size: 0.8em;
}
.proyecto .lenguajes{
        font-weight: 100;       
}
button{
    background-color: #21272b; 
    border: solid rgb(56, 56, 56) 1px;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
    color: #ffff;
}
    /*TERMINA CONTAINER-PROYECTOS*/

    /*INICIA CONTAINER-CERTIFICACIONES*/
    
    .container-certificaciones h2{
        text-align: center;    
    }
    .pinned-cer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .certi{
        width: 20em;
        height: 4em;
        border: solid rgb(56, 56, 56) 1px;
        padding: 1em;
        margin: 1em 0 1em 0;
    }
    .certi .titulo-certi{
        font-weight: 500;
        font-size: 0.9em;
        color: #58a6ff;
    }

    footer{
        width: 100%;
        margin-top: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .redes svg{
       fill:#fff;
       width: 2em;
       height: 2em;
       margin: 0 0.5em 1.8em 0.5em

    }

/*------------------------Versión PC------------------------*/

@media (min-width: 600px) {

    /*INICIA CONTAINER-ABOUT*/

.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}
.image-header img{
    width: 520px;
    height: 370px;
    
}
    /*TERMINA CONTAINER-ABOUT*/

    /*INICIA CONTAINER-PROYECTOS*/
.pinned{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.proyecto{
    width: 20em;
    height: 12em;
    border: solid rgb(56, 56, 56) 1px;
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;

}
.proyecto .lenguajes{
    font-weight: 100;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
 /*TERMINA CONTAINER-PROYECTOS*/

 /*INICIA CONTAINER-CERTIFICACIONES*/

 .pinned-cer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.certi{
    width: 20em;
    height:5em;
    border: solid rgb(56, 56, 56) 1px;
    padding: 1em;
    margin: 1em 0.5em 1em 0.5em;

}
.certi .empresa{
    font-weight: 100;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 0.95em;
}

  }
 