@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{ 
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}

/*INICIA MENU*/

nav{
    display: flex;
    justify-content: left;
}
nav .logo{
    font-family: 'Pacifico', cursive;
    color: #0C9A67;
    font-size: 3em;
    margin-top: 0.1em;
    margin-left: 0.5em;
    width: 20%;
}
.menu{
    display: flex;
    justify-content: right;
    width: 80%;
    margin-top: 1em;
}
.menu ul{
    list-style: none; 
    margin-right: 1.3em;
}
.menu li {
    display: inline;
    font-size: 1.3em;
    margin: 0.2em;
    font-weight: 300;
}
li a{
    color: rgb(40, 40, 40);
}


/*TERMINA MENU*/


.titulo-pagina{
    font-size: 5em;
    color: rgb(6, 0, 36);
    margin: 0.1em 0em 0em 1.1em;
    font-weight: 600;
}


/*INICIA PUBLICACIONES*/

.fila{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:6em;

}
.post{
    width: 22em;
    height: 24em;
}
.img-portada{
    width: 22em;
    height: 14em;
    border-radius: 0.5em;
}
.fecha{
    font-size: 0.9em;
    color: #5355558d;
    margin: 0.7em 0 0.7em 0;
}
.titulo-pub{
    color: rgb(29, 29, 29);
    font-weight: 600;
    font-size: 1.2em;
    
}
.resumen{
    margin: 0.6em 0 0.6em 0;
    font-size: 1em;
    color: rgb(75, 75, 75);
}

/*TERMINA PUBLICACIONES*/

/*INICIA POST*/

.container{
    display: flex;
    flex-direction: column;
}
.header-publicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-publicacion{
    font-size: 2.8em;
    font-weight: 600;
    margin: 1em 0em 1em 0em;
    color: rgb(29, 29, 29);
}
.imagen-portada{
    width: 50em;
    height: 30em;
    border-radius: 1em;
}
.creditos{
    margin: 0.2em;
    color: rgb(130, 130, 130);
}
span a{
    color: rgb(72, 72, 72);
}
.subtitulo{
    font-size: 1.8em;
    font-weight: 500;
    margin: 1em 0em 0em 1.8em ;
}
.parrafo-normal{
    margin: 2em;
    font-size: 1.6em;
    font-weight: 300;
    text-align: justify;
}