@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;500&display=swap');


body{ 
    margin: 0;
    padding: 0;
    background-color: #0D1117;
    color: #c9d1d9;
    font-family: 'JetBrains Mono', monospace;
}
a{
    text-decoration: none;
}

/*---------------Versión Móvil--------------*/


    /*INICIA MENU*/

nav{
    display: flex;
    justify-content: left;
}
nav .logo{
    font-family: 'Pacifico', cursive;
    color: #8b949B;
    font-size: 2em;
    margin-top: 0.7em;
    margin-left: 0.7em;
    width: 20%;
}
.menu{
    display: flex;
    justify-content: right;
    width: 80%;
    margin-top: 1em;
}
.menu ul{
    list-style: none; 
    margin-right: 1.3em;
}
.menu li {
    display: inline;
    font-size: 1.3em;
    margin: 0.2em;
    font-weight: 300;
}
li a{
    color: #8b949B;
}
    /*TERMINA MENU*/

    /*INICIA CONTAINER-ABOUT*/

.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: -4em;
}
.name{
    font-weight: 500;
    
}
.name .pues{
    color: #58a6ff;
    margin-top: -1em;
}
.name .des{
    padding: 1em;
    font-weight: 100;
    
}
.image-header img{
    width: 235px;
    height: 224px;
    margin-top: 4em;
}
    /*TERMINA CONTAINER-ABOUT*/

    /*INICIA CONTAINER-PROYECTOS*/
    .container-proyectos{
        margin-bottom: 8em;
    }
    .container-proyectos h2{
        text-align: center;
       
    }
    .pinned{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .uno{
        width: 20em;
        border: solid rgb(56, 56, 56) 1px;
        padding: 1em;
        margin: 1em 0 1em 0;
    }
    .uno .titulo-proyecto{
        color: #58a6ff;
        font-weight: 500;
        font-size: 1em;
    }
    .uno .descripcion{
        font-weight: 200;
        font-size: 0.8em;
    }
    .uno .lenguajes{
        font-weight: 100;
        
    }

/*---------------Versión PC--------------*/

@media (min-width: 600px) {

    /*INICIA CONTAINER-ABOUT*/

.container-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: -5em;
}
.name{
    font-weight: 500;
    
}
.name .pues{
    color: #58a6ff;
    margin-top: -1em;
}
.name .des{
    padding: 1em;
    font-weight: 100;
    
}
.image-header img{
    width: 260px;
    height: 260px;
    margin-left: 3em;
    
}
    /*TERMINA CONTAINER-ABOUT*/
    
  }